# Server Configuration
PORT=5000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=github_analyzer

# GitHub API Configuration
# Highly recommended to add a GitHub Personal Access Token (PAT)
# Otherwise, rate limit is capped at 60 requests/hr.
GITHUB_TOKEN=your_github_token_here
